

  <div class="ui center aligned raised compact {{night}} segment">
    <div class="ui {{night}} statistic">
      <div class="value" id="colorvalue">FA</div>
      <div class="label">Colour</div>
    </div>
    <br>
    <div class="ui fluid buttons">
      <button class="ui button" id="colorleft"><i class="left chevron icon"></i></button>
      <div class="or"></div>
      <button class="ui button" id="colorright"><i class="right chevron icon"></i></button>
    </div>
  </div>

  <div class="ui center aligned compact raised {{night}} segment">
    <div class="ui range" id="zoomslider"></div>
    <div class="ui {{night}} statistic">
      <div class="value" id="zoomvalue">
        100
      </div>
      <div class="label">
        Zoom
      </div>
    </div>
  </div>

  <div class="ui center aligned compact raised {{night}} segment">
    <div class="ui range" id="paddingslider"></div>
    <div class="ui {{night}} statistic">
      <div class="value" id="paddingvalue">
        1
      </div>
      <div class="label">
        Padding
      </div>
    </div>
  </div>

  <div class="ui center aligned compact {{night}} segment">
    <div class="ui {{night}} statistic">
      <div class="value" id="code">
        {{ip}}
      </div>
      <div class="label">
        IP Address
      </div>
    </div>
  </div>


<table class="ui {{night}} table">
  <thead>
    <tr>
      <th>
        Headers
      </th>
    <th></th>
  </tr></thead>
  <tbody>
    {{#headers}}
    <tr>
      <td>{{key}}</td>
      <td>{{value}}</td>
    </tr>
    {{/headers}}
  </tbody>
</table>

<div class="ui segment">
  <div class="ui button" id="headers" >Submit Headers</div>
  <div class="ui button" id="window" >Submit Window API</div>
  <div class="ui button" id="teslacss" >Tesla CSS</div>
  <pre id="data">
  </pre>
</div>

<script src="/javascripts/browsertests.js"></script>
