<div class="tesla {{night}} bttf panel">

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui orange statistic">
      <div class="label">PWR kW</div>
      <div class="value" data-message="DI_power" data-signal="DI_elecPower">-</div>
    </div>

    <div class="ui orange statistic">
      <div class="label">TRQ NM</div>
      <div class="value" data-message="DI_torque" data-signal="DI_torqueActual">-</div>
    </div>

    <div class="ui orange statistic">
      <div class="label">COOL LPM</div>
      <div class="value" data-message="VCFRONT_coolant" data-signal="VCFRONT_coolantFlowPTActual">-</div>
    </div>

    <div class="ui orange statistic">
      <div class="label">INV &#176;C</div>
      <div class="value" data-message="DI_temperature" data-signal="DI_inverterT">-</div>
    </div>

    <div class="ui orange statistic">
      <div class="label">STR &#176;C</div>
      <div class="value" data-message="DI_temperature" data-signal="DI_statorT">-</div>
    </div>

    <div class="ui centeorange grey header">
      Powertrain
    </div>
  </div>

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui green statistic">
      <div class="label">VOLTS</div>
      <div class="value" data-message="BMS_hvBusStatus" data-signal="BMS_packVoltage">-</div>
    </div>

    <div class="ui green statistic">
      <div class="label">Amps</div>
      <div class="value" data-message="BMS_hvBusStatus" data-signal="BMS_packCurrent">-</div>
    </div>

    <div class="ui green statistic">
      <div class="label">Nom kWh</div>
      <div class="value" data-message="BMS_energyStatus" data-signal="BMS_nominalEnergyRemaining">-</div>
    </div>

    <div class="ui green statistic">
      <div class="label">COOL LPM</div>
      <div class="value" data-message="VCFRONT_coolant" data-signal="VCFRONT_coolantFlowBatActual">-</div>
    </div>

    <div class="ui green statistic">
      <div class="label">TEMP &#176;C</div>
      <div class="value" data-message="BMS_bmbMinMax" data-signal="BMS_thermistorTMax">-</div>
    </div>

    <div class="ui centered grey header">
      BATTERY
    </div>
  </div>

  <div class="ui horizontal {{night}} bttf segment">

    <div class="ui yellow statistic">
      <div class="label">PTCL KW</div>
      <div class="value" data-message="PTC_sensorStatus" data-signal="PTC_leftCurrentHV">-</div>
    </div>

    <div class="ui yellow statistic">
      <div class="label">PTCR KW</div>
      <div class="value" data-message="PTC_sensorStatus" data-signal="PTC_rightCurrentHV">-</div>
    </div>

    <div class="ui yellow statistic">
      <div class="label">PCS VOLTS</div>
      <div class="value" data-message="PCS_logging" data-signal="PCS_dcdcLvBusVolt">-</div>
    </div>

    <div class="ui yellow statistic">
      <div class="label">PCS AMPS</div>
      <div class="value" data-message="PCS_dcdcStatus" data-signal="PCS_dcdcLvOutputCurrent">-</div>
    </div>

    <div class="ui yellow statistic">
      <div class="label">PWR %</div>
      <div class="value" id="auxPercent">-</div>
    </div>

    <div class="ui centered grey header">
      AUXILIARY
    </div>
  </div>

  <div class="ui horizontal {{night}} bttf hidden trip segment">

    <div class="ui blue statistic">
      <div class="label">KM</div>
      <div class="value" id="tripDistance">0</div>
    </div>

    <div class="ui blue statistic">
      <div class="label">Km/h</div>
      <div class="value" id="tripSpeed">0</div>
    </div>

    <div class="ui blue statistic">
      <div class="label">kWh</div>
      <div class="value" id="tripEnergy">0</div>
    </div>

    <div class="ui blue statistic">
      <div class="label">Wh/km</div>
      <div class="value" id="tripConsumption">0</div>
    </div>

    <div class="ui blue statistic">
      <div class="label">REGEN %</div>
      <div class="value" id="tripRegen">0</div>
    </div>

    <div class="ui centered grey header" id="tripReset">
      TRIP
    </div>
  </div>

</div>
<script>
  window.onyx = {
    pin: {{pin}}
  }
</script>

<script src="/javascripts/bttf-gauges.js"></script>