
<div class="ui hidden negative icon tesla message" id="disconnected">
  <i class="wifi icon"></i>
  <div class="content">
    <div class="header">
      Disconnected
    </div>
    <p>
      Hit reload to reconnect
    </p>
  </div>
</div>

<div class="tesla panel signals grid">


  {{! Category menu }}
  <div class="ui vertical tesla menu" id="categories">
    {{! Template will go here }}
  </div>

  {{! Message menu }}
  <div class="ui vertical tesla menu" id="messages">
    {{! Template will go here }}
  </div>

  {{! Signal display }}
  <div class="ui tesla signal segment">
    <div class="ui signal list" id="signals">
      {{! Template will go here }}
  </div>

</div>

{{! Categories template }}
<script id="category-template" type="text/x-handlebars-template">
  <a class="\{{active}} item" href="/signals/\{{path}}" id="\{{path}}">
    <h4 class="ui grey header">\{{tag}}</h4>
    \{{name}}
  </a>
</script>

{{! Messages template }}
<script id="message-template" type="text/x-handlebars-template">
  <a class="\{{active}} item" href="/signals/\{{category}}/\{{path}}" id="\{{path}}">\{{name}}</a>
</script>

{{! Signals template }}
<script id="signal-template" type="text/x-handlebars-template">
  <div class="item">
    <div class="right floated signal value content">
      <div class="ui small statistic" id="\{{mnemonic}}">
        <div class="value">\{{value}}</div>
        <div class="label" >\{{units}}</div>
      </div>
    </div>
    <div class="signal name content">
      \{{name}}
    </div>
  </div>
</script>



<script>
  window.onyx = {
    pin: {{pin}},
    signal: {
      category: "{{category}}",
      message: "{{message}}"
    }
  }
</script>

<script src="/javascripts/bit-buffer.js"></script>
<script src="/javascripts/signals.js"></script>
